*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background:rgb(189, 203, 67);
}

.app{
    background: white;
    width: 90%;
    max-width: 600px;
    margin : 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 40px;
    font-weight: 600;
    color:rgb(189, 203, 67);
    border-bottom: 2px solid gray;
    padding-bottom: 30px;


}

.quiz {
    padding: 20px 0;
}
.quiz h2{
    font-size: 20px;
    color:rgb(97, 79, 32);
    font-weight: 300;
    
}
.btn{
    background-color:white ;
    font-weight:500 ;
    color:black ;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 3ms;
}
.btn:hover:not([disabled]){
    background: rgb(189, 203, 67);
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}

#next{
    background-color:rgb(97, 79, 32) ;
    font-weight:500 ;
    color:white ;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
background: rgb(117, 248, 233);
}

.incorrect{
background: rgb(254, 66, 66);
}
